
.contenido{
  background: rgba(128, 128, 128, 0.7);
}

.encabezado{
  border-right: 1px solid #D3D3D3;
  padding-right: 5px;
}

.callout{
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.favoritos{
  padding: 0px 5px;
}

.titulo{
  margin-left: 15px;
}

.primary{
  background-color: #f5611b !important;
}

.secondary{
  background-color: #F9E94D !important;
}

.principal{
  min-height: 500px;
}

h6{
  color: #F9E94D;
}

p{
  text-align: justify;
}

textarea{
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
  margin-bottom: 0px;
}

.imgcomment{
  height: 4rem;
}

.calloutcomment{
  padding: 0.5rem !important;
  margin: 0.3rem !important;
}
