body{
  background-color: #D6B72A;
}

/* Estilos encabezado */
.jumbotron{
  padding-bottom: 0px;
  background-color: #ffffff;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.redes{
  vertical-align: bottom !important;
  margin-top: 10% !important;
}

.color-columns{
  background-color: #FFFFFF;
}

.nav{
  background-color:#DD5E1B;
  width: 100%;
}

.post-row{
  min-height: 300px;
}

.post-column{
  margin-top: 10px;
  min-height: 200px;
}

h3{
  font-weight: bolder;
}

.img-post{
  margin-top: 20px;
  margin-bottom: 10px;
}

.img-logo{
  width: 35%;
}

.btn-center{
  margin: auto;
}

.img-redes{
  height: 25px;
}

.input-group{
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
}

/* Cambio color texto menú */
ul>li>a{
  color: #000000;
}

/* Limite tamaño textareas */
.text-area{
  resize: vertical;
  max-height: 100px;
  min-height: 50px;
}

.right-column{
  height: 100%;
}

.list-group{
  margin-top: 30px;
}

/* Estilos pantallas pequeñas */
@media (max-width:768px){

  .right-column{
    display: none;
  }

  .img-responsive{
    margin-top: 0px;
  }

  .img-logo{
    width: 35%;
  }
}

/* Estilo pantallas medianas */
@media (min-width:992px) {
  .img-logo{
    width: 100%;
  }

  .btn-group{
    float: right !important;
  }
}
