.btn{
  background-color: #1b5e20;
}

.btn:hover, button:focus{
  background-color: #69f0ae !important;
}


input, textarea, input:focus, textarea:focus{
  border-bottom: 1px solid white !important;
}

.prefix.active{
  color: #1b5e20 !important;
}
